[submodule "hector_navigation"]
	path = hector_navigation
	url = git@github.com:ne0h/hector_navigation.git
[submodule "hector_slam"]
	path = hector_slam
	url = git@github.com:ne0h/hector_slam.git
[submodule "ros_stairsdetection"]
	path = ros_stairsdetection
	url = git@github.com:ne0h/ros_stairsdetection.git
[submodule "enginecontrol/libATmega328"]
	path = enginecontrol/libATmega328
	url = https://github.com/ne0h/libAtmega328.git
[submodule "ros_workspace/src/hmmwv/src/gamepad"]
	path = ros_workspace/src/hmmwv/src/gamepad
	url = https://github.com/ne0h/gamepad.git
