[submodule "hector_navigation"]
	path = hector_navigation
	url = git@github.com:ne0h/hector_navigation.git
[submodule "hector_slam"]
	path = hector_slam
	url = git@github.com:ne0h/hector_slam.git
[submodule "arduino_workspace/arduino-core"]
	path = arduino_workspace/arduino-core
	url = https://github.com/ne0h/arduino-core.git
[submodule "ros_stairsdetection"]
	path = ros_stairsdetection
	url = git@github.com:ne0h/ros_stairsdetection.git
