<launch>
<!--
	<node name="enginecontrol" pkg="hmmwv" type="enginecontrol" output="screen" />
-->
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_base_laser_link" args="0 0 0 0.0 0.0 0.0 /base_link /base_laser_link 100" />
	<node pkg="tf" type="static_transform_publisher" name="base_laser_link_to_laser" args="-0.05 0.1 0.25 0.0 0.0 0.0 /base_laser_link /laser 100" />
	<node name="gmapping" pkg="gmapping" type="slam_gmapping" args="scan:=/lms100/scan" output="screen">
		<!--
			Configure how often the map is updated. Temporal updates
			are usually not desirable and therefore turned off by setting
			value to -1.0.
		-->
		<param name="linearUpdate" value="0.5" />
		<param name="angularUpdate" value="0.5" />
		<param name="temporalUpdate" value="-1.0" />
		<!-- occupancy grid (map) resolution. default: 0.05 meters -->
		<param name="delta" value="0.15" />
	</node>
	<node name="lms100" pkg="cob_sick_lms1xx" type="lms100">
		<param name="host" value="192.168.1.2" />
		<param name="frame_id" value="base_laser_link" />
		<param name="angle_resolution" value="0.5" />
		<param name="scan_frequency" value="25" />
	</node>
</launch>
